<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Order</title>
</head>

<header>
    <img src={{logo}}/>
    <div class="header">
        <h1>{{company_name}}</h1>
        <p>{{address}}</p>
        <p>{{phone}}</p>
        <p>{{fax}}</p>
    </div>
</header>
<body>
<section>
    <br><br>
    <h3 class="subheader">PURCHASE ORDER</h3>
    <hr>
    <div class="address">
        <div class="child-address">
            <p class="little">Billing address</p>
            <p>{{billing_address}}</p>
            <p>{{phone}}</p>
            <p>{{fax}}</p>
        </div>
        <div class="child-address">
            <p class="little">Delivery address</p>
            <p>{{delivery_address}}</p>
            <p>{{phone}}</p>
            <p>{{fax}}</p>
        </div>
    </div>
    <hr>
    <div class="attributes">
        <div>
            <p class="little">Suplplier Account</p>
            <p class="smaller">{{suppier_account}}</p>
        </div>
        <div>
            <p class="little">Purchase Executive</p>
            <p class="smaller">{{purchase_executive}}</p>
        </div>
        <div>
            <p class="little">Currency</p>
            <p class="smaller">{{currency}}</p>
        </div>
        <div>
            <p class="little">Purchase Order No</p>
            <p class="smaller">{{order_no}}</p>
        </div>
        <div>
            <p class="little">Date</p>
            <p class="smaller">{{date}}</p>
        </div>
    </div>

    <hr>
    <table>
            <tr>
                <th>No</th>
                <th>Item code</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price/Unit</th>
                <th>Discount</th>
                <th>Total Price</th>
            </tr>
        {% for order in orders %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.code}}</td>
                <td>{{order.description}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.price_per_unit}}</td>
                <td>{{order.discount}}</td>
                <td>{{order.total_price}}</td>
            </tr>
        {% endfor %}
    </table>
    <p>US DOLLAR: {{us_dollar}}</p>
    <hr>
    <div class="attributes">
        <div>
            <p class="little">Payment Terms</p>
            <p>{{payment}}</p>
        </div>
        <div>
            <p class="little">Total Payable</p>
            <p class="smaller">{{total_payable}}</p>
        </div>
    </div>
    <hr>
    <div>
        <p class="right-align little">Authorized Signature </p>
        <p class="right-align smmaler">{{company_name}} </p>
    </div>
    <br><br>
    <hr>
</section>
</body>
</html>