* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        word-wrap: normal;
    }

    body {font-family: Helvetica;}
    h1   { color: blue; text-align: center; }
    p    {color: red;}

    table {
        margin: 10px 0;

    }
    tr {
        text-align: center;
        margin-right: 10px;
    }

    th, .little{
        font-size: 0.5em;
    }

    td, .smaller {
        font-size: 0.6em;
    }

    .header {
        text-align: center;
        font-size: 0.8em;
        }

    .subheader {
        margin-bottom: 10px;
    }

    .address {
        display: flex;
        margin: 10px 0;
        justify-content: space-between;
       }

      .child-address {
       margin-right: 10px;
      }

    .centerize {
        text-align: center;
    }
    .attributes {
        display: flex;
        margin: 10px 0;
        justify-content: space-between;
    }

    .right-align {
        text-align: right;
    }